---
title: Fotogalerie
listed: false
position: 2
editable_elements:
  Gallery/Title: Fotogalerie
  Gallery/Description: "Většinu snímků a videí publikovaných na tomto webu je možno po domluvě použít pro nekomerční účely (např. do škol pro výuku). V případě domluvy zašleme v lepším rozlišení. Pro komerční použití snímků či videí nás kontaktujte, cena bude stanovena dle konkrétního užití."
  Gallery/Show all: Všechny
  Gallery/Filter by category title: "Filtrování dle kategorií:"
layout: contentpage
---
{% assign photos = site.photos | sort: "position" %}
<div class="page-gallery page-gallery__gallery">
  <div class="page_header">
    <h3>{{ page.editable_elements['Gallery/Title'] | default: "Gallery" }}</h3>
    {% capture description_default %}
      <p>Prostor pro několikařádkový text (bude tam něco o možnostech stahování/používání fotek pro vlastní a komerční účely)</p>
    {% endcapture %}
    {{ page.editable_elements['Gallery/Description'] | markdownify | default: description_default }}
  </div>
  <!-- Filter -->
  <div id="filters" class="filters">
    <div class="m-bottom-1">
      <a href="#" data-filter="*" class="selected">
	{{ page.editable_elements['Gallery/Show all'] | default: "Show all" }}
      </a>
    </div>
    <div>
      <b>{{ page.editable_elements['Gallery/Filter by category title'] | default: "Filter by category:" }}</b>
      <ul class="inline-block m-left-0 p-left-0">
	{% assign category_slugs = "" %}
	{% for photo in photos %}
	  {% assign flattened = photo.categories | join: " " %}
	  {% assign category_slugs = category_slugs |
               append: " " |
	       append: flattened %}
	{% endfor %}
	{% assign category_slugs = category_slugs | split: " " | uniq %}
	{% for slug in category_slugs %}
	  {% assign id = "/category_details/" | append: slug %}
	  {% assign category = site.category_details | where: "id", id | first %}
	  <li class="inline-block p-left-1">
	    <a class="" href="#" data-filter=".{{ slug }}">{{ category.name }}</a>
	  </li>
	{% endfor %}
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <ul id="isotopeContainer" class="gallery items-row cols-4 isotope">
      {% for photo in photos %}
	{% include gallery_item.html photo=photo %}
      {% endfor %}
    </ul>
  </div>
</div>

<script>
jQuery(function() {
  var $ = jQuery

  var $cols = 4;
  var $container = $('#isotopeContainer');

  $item = $('.gallery-item')
  $item.outerWidth(Math.floor($container.width() / $cols));

  $container.isotope({
    animationEngine: 'best-available',
    animationOptions: {
      queue: false,
      duration: 800
    },
    containerClass: 'isotope',
    containerStyle: {
      position: 'relative',
      overflow: 'hidden'
    },
    hiddenClass: 'isotope-hidden',
    itemClass: 'isotope-item',
    resizable: true,
    resizesContainer: true,
    transformsEnabled: !$.browser.opera // disable transforms in Opera
  });

  if ($container.width() <= '767') {
    $item.outerWidth($container.width());
    $item.addClass('straightDown');
    $container.isotope({
      layoutMode: 'straightDown'
    });
  } else {
    $item.removeClass('straightDown');
    $container.isotope({
      layoutMode: 'fitRows'
    });
  }

  $(window).resize(function() {
    $item.outerWidth(Math.floor($container.width() / $cols));
    if ($container.width() <= '767') {
      $item.outerWidth($container.width());
      $item.addClass('straightDown');
      $container.isotope({
	layoutMode: 'straightDown'
      });
    } else {
      $item.outerWidth(Math.floor($container.width() / $cols));
      $item.removeClass('straightDown');
      $container.isotope({
	layoutMode: 'fitRows'
      });
    }
  });

  var $container = $('#isotopeContainer');

  // filter items when filter link is clicked
  $('#filters a').click(function() {
    var selector = $(this).attr('data-filter');
    $container.isotope({
      filter: selector
    });
    return false;
  });

  var $optionSets = $('#filters li'),
    $optionLinks = $optionSets.find('a');

  $optionLinks.click(function() {
    var $this = $(this);
    // don't proceed if already selected
    if ($this.hasClass('selected')) {
      return false;
    }
    var $optionSet = $this.parents('#filters');
    $optionSet.find('.selected').removeClass('selected');
    $this.addClass('selected');

    // make option object dynamically, i.e. { filter: '.my-filter-class' }
    var options = {},
      key = $optionSet.attr('data-option-key'),
      value = $this.attr('data-option-value');
    // parse 'false' as false boolean
    value = value === 'false' ? false : value;
    options[key] = value;
    if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
      // changes in layout modes need extra logic
      changeLayoutMode($this, options)
    } else {
      // otherwise, apply new options
      $container.isotope(options);
    }

    return false;
  })
});
</script>
