---
title: Online poradna
published: false
listed: true
position: 4
layout: default
---
<div id="content-row">
  <div class="row-container">
    <div class="container-fluid">
      {% include breadcrumb.html %}
      <div class="content-inner row-fluid">
        <!-- Left sidebar -->
        <div id="component" class="span8">
          <div class="page-blog page-blog__">
            <div class="page_header">
              <h3>
                <span class="item_title_part0">{{ site.data.user_answers.long_title }}</span>
              </h3>
            </div>
            {% assign from = params.from | default: "1900/01" | parse_date_time %}
            {% assign to = params.to | default: "2100/01" | parse_date_time %}
            {% assign category = params.category | default: "" %}
            {% if category != "" %}
              {% assign category = " " | append: category | append: " " %}
            {% else %}
              {% assign category = " " %}
            {% endif %}
            <div class="items-row cols-1 row-0 row-fluid">
              <div class="span12">
                {% for answer in paginator.user_answers %}
                  {% if answer.date < from or answer.date > to %}
                    {% continue %}
                  {% endif %}
                  {% assign flattened = answer.categories | join: " " %}
                  {% assign categories = " " | append: flattened | append: " " %}
                  {% unless categories contains category %}
                    {% continue %}
                  {% endif %}
                  <div class="item column-1 m-bottom-4">
                    <div class="item_header">
                      <h4 class="item_title">
                        <a href={{ answer.url | relative_url }}>{{ answer.title }}</a>
                      </h4>
                    </div>
                    {% include user_answer_info.html answer=answer %}
                    <div class="item_introtext">
                      <p>{{ answer.content | truncatewords: 60 }}</p>
                    </div>
                    <a class="btn btn-info" href="{{ answer.url | relative_url }}">
                      <span>{{ site.data.user_answers.show_more }}</span>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>

            {% if paginator.total_pages > 1 %}
              <div class="pagination">
                <p class="counter">
                  {{ site.data.user_answers.paginator.page }}
                  {{ paginator.page }}
                  {{ site.data.user_answers.paginator.of }}
                  {{ paginator.total_pages }}
                </p>
                <ul>
                  {% if paginator.previous_page %}
                    <li class="pagination-start">
                      <a href="?page={{ paginator.previous_page_path | relative_url }}" class="pagenav">{{ site.data.user_answers.paginator.prev }}</a>
                    </li>
                  {% endif %}
                  {% if paginator.next_page %}
                    <li class="pagination-prev">
                      <a href="?page={{ paginator.next_page_path | relative_url }}" class="pagenav">{{ site.data.user_answers.paginator.next }}</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        <!-- Right sidebar -->
        <div id="aside-right" class="span4">
          <aside>
            <div class="moduletable ">
              <h3 class="moduleTitle ">{{ site.data.user_answers.filter.by_category }}</h3>
              <ul class="categories-module">
                {% if params.category %}
                  <li>
                    <p>
                      <a href="{{ "/user_answers" | relative_url }}?">Zobrazit vše</a>
                      <br/>
                    </p>
                  </li>
                {% endif %}
                {% assign flat_categories = "" %}
                {% for user_answer in site.user_answers %}
                  {% assign ua_categories = user_answer.categories | join: " " %}
                  {% assign flat_categories = flat_categories | append: " " | append: ua_categories %}
                {% endfor %}
                {% assign categories = flat_categories | split: " " | compact | uniq %}
                {% for category in categories %}
                  <li>
                    <a href="{{ "/user_answers" | relative_url }}?category={{ category }}">
                      {{ category }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="moduletable ">
              <h3 class="moduleTitle ">{{ site.data.user_answers.filter.by_date }}</h3>
              <ul class="archive-module">
                {% if params.from or params.to %}
                  <li>
                    <p>
                      <a href="{{ "/user_answers" | relative_url }}?">Zobrazit vše</a>
                      <br/>
                    </p>
                  </li>
                {% endif %}
                {% assign one_month = 2678400 %}
                {% assign previous_date = site.user_answers.first.date | plus: one_month | date: '%Y/%m' %}
                {% for user_answer in contents.user_answers %}
                  {% assign from = user_answer.date | date: "%Y/%m" %}
                  {% if from != previous_date %}
                    <li>
                      <a href="{{ "/user_answers" | relative_url }}?from={{ from }}&to={{ previous_date }}">{{ user_answer.date | date: "%-m/%Y"}}</a>
                    </li>
                    {% assign previous_date = user_answer.date | date: "%Y/%m" %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="moduletable aside">
              {% include question_form.html %}
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
