<div class="breadcrumb m-bottom-3">
  {% assign url_parts = page.url | split: "/" %}
  {% assign item_url = "" %}
  {% for position in (0..url_parts.size-1) %}
    {% capture glue %}{% if item_url != "/" %}/{% endif %}{% endcapture %}
    {% assign item_url = item_url |
         append: glue |
         append: url_parts[position] %}
    {% assign item = site.pages | where: "url", item_url %}
    {% if item.url == "/" %}
      <a href="{{ "/" | relative_url }}" class="breadcrumb__item uppercase">
        {{ site.title | split: '.' | first }}
      </a>
      &gt;
    {% elsif item.url != page.url %}
      <a href="{{ item.url | relative_url }}" class="breadcrumb__item">
        {{ item.title }}
      </a>
      &gt;
    {% else %}
      <span class="breadcrumb__item">
        {{ item.title }}
      </span>
    {% endif %}
  {% endfor %}
</div>
