<li class="gallery-item firstItem isotope-item {{ include.photo.categories | join: " " }}">
  <div class="item_img img-intro img-intro__left">
    <a class="zoom"
       href={{ include.photo.image }}
       data-rel="lightcase:gallery"
       {% comment %}
       TODO Verify this actually works and author details don’t have
       TODO to be fetched manually from data like this:
       {% assign author = site.data.authors[include.photo.author] %}
       {% endcomment %}
       title="{{ include.photo.author.name }} &ndash; {{ include.photo.title | strip_html }}"
       data-lc-title="{{ include.photo.author.name }} &ndash; {{ include.photo.title | strip_html }}"
       data-categories="{{ include.photo.categories | join: " " }}">
      <img src="{{ include.photo.gallery_thumbnail }}"
           class="gallery__image object-fit-cover" data-object-fit="cover"
           alt="{{ include.photo.description | strip_html }}"/>
    </a>
  </div>
  <div class="item_header">
    <h5 class="item_title">
      {{ include.photo.title | truncate: 35 }}
    </h5>
  </div>
  <div class="item_introtext">
    {{ include.photo.description | truncatewords: 10 }}
    (<i>{{ include.photo.author.name }}</i>)
  </div>
  <div class="clearfix"></div>
</li>
