<li class="gallery-item firstItem isotope-item {{ include.photo.categories | join: " " }}">
  <div class="item_img img-intro img-intro__left">
    <a class="zoom"
       href={{ include.photo.image | relative_url }}
       data-rel="lightcase:gallery"
       {% assign author = site.data.authors[include.photo.author] %}
       title="{{ author.name }} &ndash; {{ include.photo.title | strip_html }}"
       data-lc-title="{{ author.name }} &ndash; {{ include.photo.title }}"
       data-categories="{{ include.photo.categories | join: " " }}">
      <img src="{{ include.photo.gallery_thumbnail | default: include.photo.image | relative_url }}"
           class="gallery__image object-fit-cover" data-object-fit="cover"
           alt="{{ include.photo.content | strip_html }}"/>
    </a>
  </div>
  <div class="item_header">
    <h5 class="item_title">
      {{ include.photo.title | truncate: 35 }}
    </h5>
  </div>
  <div class="item_introtext">
    {{ include.photo.content | truncatewords: 10 }}
    (<i>{{ author.name }}</i>)
  </div>
  <div class="clearfix"></div>
</li>
