<div id="mainbottom-row">
  <div class="row-container">
    <div class="container-fluid">
      <div class="row-fluid">
        {% assign published_posts = site.posts | where: "published", true %}
        {% for post in published_posts, limit: 3 %}
          <div class="span3">
            {% include 'home_news_bigitem' post=post %}
          </div>
        {% endfor %}

        <div class="moduletable news  span3">
          <h4 class="moduleTitle ">
            {{ page.editable_elements['News/Other news title'] | default: "Other news" }}
          </h4>
          <div class="mod-newsflash-adv mod-newsflash-adv__news">
            {% for small_post in published_posts, limit: 3, offset: 3 %}
              {% include 'home_news_smallitem' post=small_post %}
            {% endfor %}
          </div>

          <a class="btn btn-info readmore" href="{{ post.url | relative_url }}">
            <span>{{ page.editable_elements['News/Show all'] | default: "show all news" }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
