<div id="maintop-row">
  <div class="row-container">
    <div class="container-fluid">
      <div id="maintop" class="row-fluid">
        <div class="moduletable animals span12">
          <div class="mod-newsflash-adv mod-newsflash-adv__animals">
            <div class="row-fluid flex">
              {% for i in (1..5) %}
                {% assign label_base = "Link " | append: i %}
                {% assign label_url = label_base | append: "/Url" %}
                {% assign label_image = label_base | append: "/Image" %}
                {% assign label_title = label_base | append: "/Title" %}
                <div class="item item__module">
                  <div class="item_img img-intro img-intro__none">
                    {% capture url -%}
                      {{ page.editable_elements[label_url] | default: "/" }}
                    {%- endcapture %}
                    <a href="{{ url }}">
                      <img src="{{ page.editable_elements[label_image] | default: "http://placehold.it/156x117" }}">
                    </a>
                  </div>
                  <div class="item_content">
                    <h4 class="item_title item_title__animals">
                      <a href={{ url }}>
                        {% capture title_default -%}
                          {% cycle "Online poradna", "Vydry a škody", "Vydra a silnice", "Vydří stezky", "Bulletin Vydra" %}
                        {%- endcapture %}
                        {{ page.editable_elements[label_title] | default: title_default }}
                      </a>
                    </h4>
                  </div>
                  <div class="clearfix"></div>
                </div>
              {% endfor %}
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
