{% for item in include.pages %}
  {% assign url_parts = item.url | split: "/" %}

  {% if url_parts.size <= 2 %}
    <li{% if page.url == item.url %} class="current active"{% endif %}>
      <a href="{{ item.url | relative_url }}">{{ item.title }}</a>

      {% assign parent_url = item.url | append: "/" %}
      {% assign children = include.pages |
           where_exp: "p", "p.url contains parent_url" %}

      {% if children.size > 0 %}
        <ul>
          {% for subitem in children %}
	    <li>
	      <a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
	    </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
