<div class="item_info m-bottom-1">
  <dl class="item_info_dl">
    <dd>
      {% assign author = site.data.authors[include.answer.author] %}
      <div class="item_createdby">{{ author.name }}</div>
    </dd>
    |
    <dd>
      <div class="item_category-name">
        {% for category in include.answer.categories %}
          <a href="{{ "/user_answers" | relative_url }}?category={{ category }}">
            {{ category }}
          </a>
        {% endfor %}
      </div>
    </dd>
    |
    <dd>
      <div class="item_published">{{ include.answer.date | date: "%e. %-m. %Y" }}</div>
    </dd>
  </dl>
</div>
