---
title: Page without right column
listed: true
layout: contentpage
---
<article>
  <div class="page-item page-item__">
    <div class="item_header">
      <h3 class="item_title">{{ page.editable_elements['Page/Title'] | default: page.title | default: "Headline" }}</h3>
    </div>
    {% assign title_image_enabled = page.editable_elements['Page/Title image'] | default: true %}
    {% if title_image_enabled %}
      <div class="item_img img-full img-full__none item-image">
        <img src="{{ page.editable_elements['Page/image'] | relative_url | default: "http://placehold.it/610x385" }}">
      </div>
    {% endif %}
    <div class="item_fulltext">
      {% capture content_default %}
        <p>Content of the page</p>
      {% endcapture %}
      {{ content | default: content_default }}
    </div>
  </div>

  {% include related_pages.html %}
</article>

{% include content_gallery.html %}
