---
title: Content page with right column layout
listed: true
layout: default
---
<div id="content-row">
  <div class="row-container">
    <div class="container-fluid">
      {% include breadcrumb.html %}
      <div class="content-inner row-fluid">
        <div id="component" class="span9">
          <div class="page-item page-item__">
            <article>
              <div class="item_header">
                <h3 class="item_title">{{ page.editable_elements['Page/Title'] | default: page.title | default: "Headline" }}</h3>
              </div>
              {% assign title_image_enabled = page.editable_elements['Page/Title image'] | default: true %}
              {% if title_image_enabled %}
                <div class="item_img img-full img-full__none item-image">
                  <img src="{{ page.editable_elements['Page/image'] | relative_url | default: "http://placehold.it/610x385" }}">
                </div>
              {% endif %}
              <div class="item_fulltext">
                {% capture content_default %}
                  <p>Content of the page</p>
                {% endcapture %}
                {{ content | default: content_default }}
              </div>

              {% include related_pages.html %}
            </article>

            {% include content_gallery.html %}
          </div>
        </div>
        <div id="aside-right" class="span3">
          <aside>
            <div class="moduletable links">
              <h3>{{ page.editable_elements['Right column/Title'] | default: "Another pages" }}</h3>
              <div class="mod-custom mod-custom__links">
                {{ page.editable_elements['Right column/Links'] | markdownify }}
              </div>

              {% include siblings_pages.html %}
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
